<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962930643629-dk007crhln47tcvmbpa59917a4u874cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962930643629-dk007crhln47tcvmbpa59917a4u874cm</string>
	<key>API_KEY</key>
	<string>AIzaSyB-9SRMuLcDgYKAQwW1y19QjOA-mXAblbY</string>
	<key>GCM_SENDER_ID</key>
	<string>962930643629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.visionHPlus</string>
	<key>PROJECT_ID</key>
	<string>visionhplus</string>
	<key>STORAGE_BUCKET</key>
	<string>visionhplus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962930643629:ios:cd48ae767d6d99c73eac24</string>
	<key>DATABASE_URL</key>
	<string>https://visionhplus.firebaseio.com</string>
</dict>
</plist>